<!DOCTYPE html>
<html>
    <head>
        <style>
            h1 {
                color: #780b1d;
                text-align: center;
            }
            body {
                background: #48c1d4;
            }
            h2.colored {
                color: green;
            }
            .next{
                display: flex;

            }
            .next a img{
                margin-right: 800px;
            }
        </style>
    </head>
    <body>
        <h1>This is a header</h1>
        <p>This is a pharagraph. It's my <strong><em>first</em></strong> <strong>WEB</strong> <em>code</em>.</p>
        <p>m <sup>2</sup></p>

        <p>m <sub>2</sub></p>
        <h2>Link example</h2>
        <a href="https://github.com/ramazannbilen" target="_blank">This is my github <em>link</em></a> 
        <!--if you put , just before target, link will be open existing page. Without , it's opened in a new page-->
        
        <h2 class="colored">Picture Link</h2>
        
        <div class= "next">
            <a href="https://www.trabzonspor.org.tr/tr" target="_blank">
                <img src="https://www.trabzonspor.org.tr/Content/Theme/Default/images/logo.svg" title="Trabzonspor" alt="TrabzonsporLogo" width="200" height="100">
            </a>

            <h2>Unordered list</h2>
            <ul>
                <li>List1</li>
                <li>List2</li>
                <li>List3</li>
            </ul>
    
            <ol>
                <li>List1</li>
                <li>List2</li>
                <li>List3</li>
            </ol>
        </div>
       
        

    </body>
</html>
